body {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url(./smoke.jpg);
    background-size: cover;
    background-color: black;
    font-family: arial;
    background-attachment: fixed;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.title {
    color: rgb(228, 10, 28);
    font-family: thin;
    margin: 0;
}

.header > * {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.topnav {
    font-stretch: wider;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    background-color: rgb(80, 79, 79);
    display: flex;
    flex-direction: row;
}

.topnav a {
    float: left;
    text-align: center;
    color: rgb(11, 45, 156);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    -moz-transition: background-color .3s ease-in;
    -webkit-transition: background-color .3s ease-in;
    -o-transition: background-color .3s ease-in;
    transition: background-color .3s ease-in;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: rgb(28, 60, 163);
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
    background-color: transparent;
    border: 1px solid rgba(100, 240, 100, 0.5);
    border-radius: 5px;
    padding: 10px;
}

.topnav .icon:hover {
    background-color: rgba(100, 240, 100, 0.5);
}


@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav .icon {
        float: right;
        display: block;
    }

    .topnav {
        flex-direction: column;
    }

    .topnav.responsive {
        position: relative;
    }

    /* .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    } */
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .header {
        flex-direction: column;
    }

    .title {
        margin-bottom: 10px;
    }
}

input[type=text] {
    width: 200px;
    height: 25px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: rgb(60, 60, 60);
    display: block;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    width: 20%;
    padding: 1px;
    background-color: rgb(28, 60, 163);
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;

}

form.example button:hover {
    background: rgb(30, 70, 199);
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}
.testStuff {
    height: 300px;
    width: 250px; 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: bottom;
    vertical-align: bottom; 
    margin-right: 40px;
    margin-bottom: 60px;  
    color: rgb(228, 10, 28);
    font-weight: bolder;
    position: relative;
}

.test-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}